/**
  * Global Variables
*/

// Theme Colors
$teal: #3C7F77;
$onyx: #0C090D;
$white: #FDFFFC;
$cobalt: #1446A0;
$tangerine: #E03616;

// Fonts: Epunda Slab and Epunda Sans
$slab: "Epunda Slab", serif;      // Headings
$sans: "Epunda Sans", sans-serif; // Body
