/**
  * Global Variables
*/

// Theme Colors
$teal: #3C7F77;
$onyx: #0C090D;
$white: #FDFFFC;
$cobalt: #1446A0;
$tangerine: #E03616;

// Fonts
$slab: "Epunda Slab", serif;      // Headings
$sans: "Epunda Sans", sans-serif; // Body

// Font Weights
$slab-700: 700;
$slab-800: 800;

$sans-300: 300;
$sans-400: 400;
$sans-600: 600;
