/**!
    Author:  Shane Schroll
    Site:    https:// shaneschroll.dev
    Version: 1.0.1
    Updated: August 18, 2026
*/

@import "packages/normalize";
@import "fonts";
@import "variables";
@import "globals";
@import "typography";
