<div class="text-block">
    <h2 class="text-block--small-title">{{ fields.tb_small_title }}</h2>
    <h1 class="text-block--large-title">{{ fields.tb_large_title }}</h1>
    <p class="text-block--paragraph">{{ fields.tb_paragraph }}</p>
</div>