.docs-container {
    max-width: 75rem;
    margin: 0 auto;
}

// main body area and project tabs
.project-selector {
    max-width: 60rem;
    width: 100%;
    margin: 0 auto;
    padding: 2rem 1rem;

    &__tab-wrapper {
        display: flex;
        max-width: 60rem;
        margin: 0 auto 3rem;
        padding: 0 0 2rem 0;
        list-style: none;
        align-items: center;
        justify-content: space-around;
        border-bottom: 1px solid $purple;
        flex-wrap: wrap;

        @include mq(sm) {
            justify-content: space-between;
        }
    }

    .tab {
        width: 6.125rem;
        text-align: center;
        margin-bottom: 2rem;
        @include mq(xxs) { width: 7.125rem; }
        @include mq(sm) { margin-bottom: 0; }

        .icon-box {
            padding: 1.25rem;
            background-color: $purple;
            transition: 0.2s ease-out;
            border-radius: $radius-medium;

            &:hover {
                background-color: $teal;
                transition: 0.2s ease-out;
                cursor: pointer;
            }

            span {
                font-size: 1.75rem;
            }

            &.tab-active {
                background-color: $teal !important;
            }
        }

        p {
            font-family: $secondary-font;
            font-weight: $medium;
            font-size: 0.875rem;
            margin-bottom: 0;
        }
    }
}

.content-wrapper {
    position: relative;
    max-width: 100%;

    a:not(.docs-button) {
        font-weight: $medium;
        text-decoration: underline;
        text-underline-offset: 3px;
        &:hover { color: $teal; }
    }

    .doc-section {
        max-width: 100%;
        margin: 0 auto;
        padding: 0.5rem;

        span[class*=language-],
        span.token,
        span.function {
            font-family: Consolas !important;
        }
    }

    .quick-links {
        margin-bottom: 2.75rem;
    }

    .single-line-token {
        padding-left: 5px;
        padding-right: 5px;
    }

    code, code span {
        font-size: 15px !important;
    }
}