.home-content {
    padding: 1rem 0 0;

    .about-section {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 5rem 0;

        img {
            max-width: 30rem;
            margin-right: 2.5rem;
        }
    }

    .tech-section {
        padding: 5rem 0;
        background-color: $secondary-background;
        text-align: center;

        .icon-wrapper {
            padding: 0 1rem;
        }

        .tech-row {
            display: flex;
            max-width: 50rem;
            margin: 3rem auto;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;

            img { max-width: 150px; }
        }
    }

    .contact-section {
        padding: 5rem 0;
        text-align: center;
        h2 { margin-bottom: 2.5rem; }
    }
}