.home-content {
    padding: 3rem 0;

    .about-section {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        img {
            max-width: 30rem;
            margin-right: 2.5rem;
        }

        &__text-content {}
    }

    .contact-section {
        h2 {
            text-align: center;
            margin-bottom: 2.5rem;
        }
    }
}

form {
    max-width: 60rem;
    margin: 0 auto;

    input {}

    button {
        
    }
}