.expertise-section {
    padding: 5.5rem 1rem;
    background-color: $primary-background;
    @include mq(md) { padding: 8rem 1rem; }

    .exp-header {
        display: flex;
        max-width: 75rem;
        margin: 0 auto 5rem;
        flex-direction: column;
        justify-content: center;

        @include mq(sm) {
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between
        }

        &__title {
            max-width: 100%;
            @include mq(xs) { max-width: 34rem; }
            @include mq(md) { max-width: 31rem; }
        }

        &__paragraph {
            max-width: 100%;

            @include mq(md) {
                margin-left: 3rem;
                max-width: 37rem;
            }

            p {
                margin-top: 1.75rem;
                margin-bottom: 1.75rem;

                @include mq(md) { margin-top: 0; }
            }
        }
    }

    .card-row {
        display: flex;
        max-width: 75rem;
        margin: 0 auto;
        justify-content: space-around;
        flex-wrap: wrap;

        @include mq(925px) {
            justify-content: space-between;
        }

        &__item {
            max-width: 100%;
            padding: 1rem 1.25rem 1.75rem;
            width: 100%;
            background-color: $white;
            box-shadow: $shadow;
            border-radius: $radius-medium;
            margin-bottom: 2rem;

            &:hover { box-shadow: 0 3px 9px -7px $teal; }

            img { height: 3.8rem; }

            h2 {
                margin: 1.5rem 0 1.2rem;
                font-family: $primary-font;
                font-weight: $normal;
            }

            /* responsive adjustments */
            @include mq(560px) {
                max-width: 16.5rem;
            }

            @include mq(925px) {
                max-width: 13.25rem;
                padding: 1rem;
                margin-bottom: 0;

                img { height: 3.4rem; }
            }

            @include mq(lg) {
                max-width: 14.5rem;
                padding: 1rem 1rem 1.2rem;
            }

            @include mq(1140px) {
                max-width: 16.5rem;
                padding: 1rem 1.25rem 1.75rem;

                img { height: 3.8rem; }
                h2 { margin: 1.5rem 0 1.2rem; }
            }
        }
    }
}