.mobile-nav-container {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    max-width: $global-width;
    width: 100%;
    margin: 0 auto;
    transition: all 0.2s ease-in-out;
    opacity: 1;
    background-color: $smoke;
    padding: 0.65rem 1rem;
    @include mq(md) { display: none; }

    .logo-and-bar-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .mobile-logo {
        display: block;
        max-width: 3rem;
    }

    #mobile-menu-toggle span {
        color: $white;
        font-size: 1.65rem;
    }

    &__menu {
        position: absolute;
        top: 0;
        left: 100%;
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100vw;
        margin: 0;
        padding: 1rem 1.25rem;
        list-style: none;
        text-align: center;
        background-color: $blue;
        transition: all 0.25s ease-in;

        &.mobile-menu-open {
            top: 0;
            left: 0;
            transition: all 0.25s ease-in-out; // for animation
        }

        // logo at top of menu
        .mobile-menu-logo {
            max-width: 5rem;
            margin: 6rem auto 1.5rem;
            transform: translateY(1rem); // for animation
            opacity: 0;                  // for animation
        }

        .mobile-link-wrapper {
            transform: translateY(1rem); // for animation
            opacity: 0;                  // for animation
            transition: all $transition; // for animation
            margin-bottom: 1.65rem;
        }

        // text links
        .mobile-menu-link {
            color: $white;
            padding: 0.35rem;
        }

        #close-menu-button {
            width: 2.75rem;
            height: 2.75rem;
            border: 1px solid $white;
            border-radius: $circle;
            background-color: transparent;
            color: $white;
            font-size: 2.5rem;
            line-height: 0.1;
        }

        .close-button {
            transform: translateY(1rem);
            opacity: 0;
            transition: all $transition;
        }

        // for moving links up and down on open/close with fades
        .mobile-menu-link-up {
            opacity: 1;
            transform: translateY(-1rem); // needs to match transforms above
            transition: all 0.45s ease-in-out;

            // menu logo animation - nth-child(1)
            &.mobile-menu-logo { transition-delay: 0.15s; }

            // menu link animations
            &:nth-child(2) { transition-delay: 0.35s; }
            &:nth-child(3) { transition-delay: 0.55s; }
            &:nth-child(4) { transition-delay: 0.75s; }
            &:nth-child(5) { transition-delay: 0.95s; }
            &:nth-child(6) { transition-delay: 1.15s; }
            &:nth-child(7) { transition-delay: 1.35s; }

            // menu close button animation - nth-child(8)
            &.close-button { transition-delay: 1.55s; }
        }
    }
}
