{% extends 'base.twig' %}

{% block content %}
<div class="content-block error-page-wrapper">
    <h1><em>*Record Scratch*</em></h1>
    <img src="{{ theme.link }}/media/404.png" alt="404: Page not found." />
    <a class="main-button main-button--filled inline" href="/">
        Return Home <span class="fa-solid fa-plane-departure icon-right" role="img" aria-label="Return Home"></span>
    </a>
</div>
{% endblock %}