{% extends 'base.twig' %}

{% block content %}
    <div class="error-page-container">
        <h1>404</h1>
        <p>The page you requested was not found or may have moved.</p>
        <a class="home-button" href="/">
            <span class="fa-classic fa-house"></span>
            Home
        </a>
    </div>
{% endblock %}
