{% extends 'base.twig' %}

{% block content %}
<section class="about-content-block">

    <span id="tech-stack"></span>
    <div id="sphere-container">
        {# <canvas id="sphere-canvas" width="600" height="600" style="width: 100%;"></canvas> #}

        <div id="sphere-tags">
            <ul>
                {% for lang in post.get_field('language_icons') %}
                    <li><a href="#">
                        <img
                            class="lang-icon"
                            src="{{ TimberImage( lang.icon ).src }}"
                            alt="{{ TimberImage( lang.icon ).alt }}"
                            title="{{ lang.name }}"
                        />
                    </a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <span id="search-feature"></span>
    <section id="full-width" class="search-feature">
        <div class="search-feature__inner-wrap">

            <h2>Sortable / Filterable Search</h2>
            {% include '/templates/searches/sortable.twig' %}

            <h2>Tabbed Search</h2>
            {% include '/templates/searches/tabbed.twig' %}

            <h2>Favorite Search</h2>
            {% include '/templates/searches/favorite.twig' %}

            <h2>All in one search</h2>
            {% include 'searches/all-in-one.twig' %}
        </div>
    </section>
</section>
{% endblock %}