{% extends 'base.twig' %}

{% block content %}
<section class="content-block">

    <span id="tech-stack"></span>
    <div id="sphere-container">
        <canvas id="sphere-canvas" width="550" height="550"></canvas>
        <p>Use your mouse to manually rotate the sphere or click on icons to bring them to the front.
            <br/>You can also use your mouse wheel to zoom in/out.
        </p>

        <div id="sphere-tags">
            <ul>
                {% for lang in post.get_field('language_icons') %}
                    <li><a href="#">
                        <img
                            class="lang-icon"
                            src="{{ TimberImage( lang.icon ).src }}"
                            alt="{{ TimberImage( lang.icon ).alt }}"
                            title="{{ lang.name }}"
                        />
                    </a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
{% endblock %}