{% extends 'base.twig' %}

{% block content %}
<h1>Gentium Book Plus</h1>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error magnam pariatur adipisci sit iure recusandae corporis neque qui quae possimus autem dignissimos, ut dolore praesentium nam fugiat, illo rerum porro!</p>
    {{ post.content }}
{% endblock %}
