{% extends 'base.twig' %}

{% block content %}
<section class="home-content">
    <section class="about-section">
        <img src="{{ TimberImage( post.about_image ).src }}" alt="{{ TimberImage( post.about_image ).alt }}" />
        <article class="about-section__text-content">
            <h4 class="small-title">About Me</h4>
            <h2>{{ post.section_title }}</h2>
            <p>{{ post.text_content }}</p>
        </article>
    </section>

    <section class="contact-section">
        <h2 id="contact">Get In Touch</h2>
        {% include 'form.twig' %}
    </section>
</section>
{% endblock %}