{% extends 'base.twig' %}

{% block content %}
<div class="content-block">
    <section class="policy-wrapper">
        {# linear gradient top to bottom from white to transparent as the body copy #}
    </section>
</div>
{% endblock %}