{% extends 'base.twig' %}

{% block content %}
<div class="content-block">
    <h1 class="tech-section-head">Languages</h1>
    {% for lang in post.get_field('language_icons') %}
        <div class="icon-box">
            <img class="icon-box--icon" src="{{ TimberImage( lang.icon ).src }}" alt="{{ TimberImage( lang.icon ).alt }}" />
            <p class="icon-box--tooltip">{{ lang.name }}</p>
        </div>
    {% endfor %}
    <h1 class="tech-section-head">Development Tools</h1>
    <h1 class="tech-section-head">Web Tools</h1>
    <h1 class="tech-section-head">Miscellaneous</h1>
</div>
{% endblock %}