<div class="form-header">
    <h3>Get a project quote</h3>
    <p>Fill out the form below to receive a quote for your project.</p>
</div>

{#
    -- https://vuejs.org/guide/built-ins/transition.html
    -- https://vuejs.org/guide/essentials/forms.html
    -- https://vuejs.org/guide/essentials/event-handling.html
#}

<div id="multi-step-form" action="/" method="POST">

    {# step counter - visually show the user what step they are on #}
    {% include 'components/step-bar.vue.twig' %}

    {# Step 1 #}
    <transition name="slide-fade">
        <div v-if="stepNumber === 1" class="form-wrapper">
            <h4>Contact Details</h4>
        </div>
    </transition>



    

    {# Step 2 #}
    <transition name="slide-fade">
        <div v-if="stepNumber === 2" class="form-wrapper">
            <h4>Project Type</h4>
        </div>
    </transition>





    {# Step 3 #}
    <transition name="slide-fade">
        <div v-if="stepNumber === 3" class="form-wrapper">
            <h4>Project Details</h4>

            {# Full Website #}
            <div v-if="form.projectType == fullWebsite"></div>

            {# Landing Page #}
            <div v-if="form.projectType == landingPage"></div>

            {# Theme Development #}
            <div v-if="form.projectType == themeDev"></div>

            {# SPA Development #}
            <div v-if="form.projectType == spaDev"></div>

        </div>
    </transition>





    {# Step 4 #}
    <transition name="slide-fade">
        <div v-if="stepNumber === 4" class="form-wrapper">
            <h4>Project Budget</h4>
        </div>
    </transition>





    {# step 5 - output form info for user to check #}
    <transition name="slide-fade">
        <div v-if="stepNumber === 5" class="form-wrapper">
            <h4>Double Check your information!</h4>
        </div>
    </transition>


    <div class="button-container">
        <button
            @click="prevStep()"
            v-if="stepNumber != 1"
            class="pill-button--pill-purple prev-button"
        >Previous</button>

        <button
            @click="nextStep()"
            v-if="stepNumber != 5"
            class="pill-button--pill-purple next-button"
        >Next</button>

        <button
            v-if="stepNumber === 5"
            type="submit"
            class="pill-button--pill-purple next-button"
        >Submit</button>
    </div>
</div>