<div class="form-header">
    <h3>Get a project quote</h3>
    <p>Fill out the form below to receive a quote for your project.</p>
</div>

{#
    -- https://vuejs.org/guide/built-ins/transition.html
    -- https://vuejs.org/guide/essentials/forms.html
    -- https://vuejs.org/guide/essentials/event-handling.html
#}
<div id="multi-step-form">
    <form @submit.prevent="handleSubmit()" novalidate>
        {# step counter #}
        {% include 'components/form/step-bar.vue.twig' %}

        {# Step 1 #}
        <transition name="slide-fade">
            <div v-if="stepNumber == 1" class="form-wrapper">
                <h4>Contact Details</h4>
                {% include 'components/form/step-1.vue.twig' %}
            </div>
        </transition>

        {# Step 2 #}
        <transition name="slide-fade">
            <div v-if="stepNumber == 2" class="form-wrapper">
                <h4>Project Type</h4>
                {% include 'components/form/step-2.vue.twig' %}
            </div>
        </transition>

        {# Step 3 #}
        <transition name="slide-fade">
            <div v-if="stepNumber == 3" class="form-wrapper">
                <h4>Project Details</h4>
                {% include 'components/form/step-3.vue.twig' %}
            </div>
        </transition>

        {# Step 4 #}
        <transition name="slide-fade">
            <div v-if="stepNumber == 4" class="form-wrapper">
                <h4>Project Budget</h4>
                {% include 'components/form/step-4.vue.twig' %}
            </div>
        </transition>

        {# step 5 #}
        <transition name="slide-fade">
            <div v-if="stepNumber == 5" class="form-wrapper">
                <h4>Review Information</h4>
                {% include 'components/form/step-5.vue.twig' %}
            </div>
        </transition>

        {# prev, next, submit - buttons + events #}
        <div class="button-container">
            <button
                @click="prevStep()"
                v-if="stepNumber != 1"
                class="pill-button--pill-purple prev-button"
            >Previous</button>

            <button
                @click="nextStep()"
                v-if="stepNumber != 5"
                class="pill-button--pill-purple next-button"
            >Next</button>

            <button
                @click="handleSubmit()"
                v-if="stepNumber == 5"
                type="submit"
                class="pill-button--pill-purple next-button"
            >Submit</button>
        </div>
    </form>
</div>