.site-footer {
    margin: 0 auto 4.625rem; // 74px - height of mobile nav bar
    padding: 2rem 1rem 1rem;
    background-color: $navy;

    @include mq(md) { margin: 0 auto; }

    &__container {
        display: flex;
        max-width: 75rem;
        margin: 0 auto;
        border-bottom: 1px solid $white;
    }

    &__copyright {
        display: flex;
        max-width: 75rem;
        margin: 0.75rem auto 0;
        justify-content: space-between;
        align-items: center;

        p { color: $white; }

        a {
            font-weight: $light;
            padding: 0.25rem;
            margin-right: 1.25rem;
            color: $white;

            &:last-of-type { margin-right: 0; }

            &:hover {
                text-decoration: 1px underline;
                text-underline-offset: 3px;
            }
        }
    }
}