* { box-sizing: border-box; }

html, body {
	text-rendering: optimizeLegibility;
	font-size: 16px;
	line-height: 1.5;
	overflow-x: hidden;
	font-variant-numeric: lining-nums;
	font-feature-settings: "lnum" 1;
	background-color: $primary-background;
}

img {
	display: block; // prevents text-wrap around images
	max-width: 100%;
	height: auto;
}

// post content wrapper
.main-post-wrapper {
	position: relative;
	max-width: 77rem;
	width: 100%;
	margin: 0 auto;
	padding: 0 1rem;
}

// default post content container
.content-block {
	padding: 3rem 0;
	margin: 0 auto;
}

// full width container
#full-width {
	position: relative;
	width: 100vw;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
}

// last updated message in footer
.updated {
	position: absolute;
	right: 0.85rem;
	bottom: 0.7rem;
	font-family: $secondary-font;
	font-size: 11px !important;
	font-style: italic;
	color: $dark-grey;
	text-align: right;
}

// scroll lock when mobile nav is open
.no-scroll { overflow-y: hidden; }