* { box-sizing: border-box; }

html, body {
	text-rendering: optimizeLegibility;
	font-size: 16px;
	line-height: 1.5;
	overflow-x: hidden;
	font-variant-numeric: lining-nums;
	font-feature-settings: "lnum" 1;
}

img {
	display: block; // preserve aspect ratio (scale instead of smush)
	max-width: 100%;
	height: auto;
}

// page setup for parallax footer
.site-nav,
header,
.tech-bar-wrapper,
.main-post-wrapper,
.footer-drawer {
    position: relative;
    z-index: 5;
}

.footer-drawer {
    margin-bottom: 18.625rem; // 298px footer height
}

// post content wrapper
.main-post-wrapper {
	max-width: 100%;
	margin: 0 auto;
    background-color: $white; // needed for clipped elements
}