* { box-sizing: border-box; }

html, body {
    overflow-x: clip;
    font-size: 16px;
}

body {
	text-rendering: geometricPrecision; // for the fluid-text() function
	line-height: 1.6;
	font-variant-numeric: lining-nums;
	font-feature-settings: "lnum" 1;

    &.mobile-menu-active {
        overflow: hidden;
        height: 100vh;
    }
}

::placeholder {
    font-family: $primary;
    font-size: 1rem;
    font-weight: $regular;
    color: $smoke;
    opacity: 0.75;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.read-more {
    display: none;
}

.main-post-content {
    max-width: $global-width;
    margin: 0 auto;
    @include base-padding;
}
