* { box-sizing: border-box; }

html, body {
	text-rendering: geometricPrecision; // works better than optimizeLegibility for our fluid-text() function
	font-size: 16px;
	line-height: 1.65;
	overflow-x: hidden;
	font-variant-numeric: lining-nums;
	font-feature-settings: "lnum" 1;
}

::placeholder {
    color: rgba($navy, 0.6);
}

img {
	display: block; // preserve aspect ratio (scale instead of smush)
	max-width: 100%;
	height: auto;
}

// page wrapper for parallax footer
.parallax-wrap {
    position: relative;
    z-index: 5;

    /*
        last element before the footer to create a
        fixed control point and spacer for the parallax effect
    */
    .footer-drawer {
        margin-bottom: 32.5rem;

        // responsive adjustments for spacing
        @include mq(lg) { margin-bottom: 18.625rem; }
    }
}

// post content wrapper
.main-post-wrapper {
	max-width: 100%;
	margin: 0 auto;
    background-color: $white; // needed for clipped elements
}