.home-header {
    padding: 2rem 1rem 0 1rem;
    max-width: 100%;
    background-color: $primary-background;

    &__inner-wrap {
        display: flex;
        max-width: 75rem;
        margin: 0 auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include mq(730px) {
            flex-direction: row;
            justify-content: space-between;
        }

        .text-content {
            max-width: 34rem;

            @include mq(md) {
                margin-right: 1.5rem;
            }

            h1 { font-weight: $medium; }
        }

        .image-content {
            position: relative;
            max-width: 38.5rem;

            svg {
                display: none;
                position: absolute;
                max-width: 20rem;
                top: 1.25rem;
                height: auto;
                z-index: 1;

                @include mq(md) {
                    display: block;
                    max-width: 27rem;
                }

                @include mq(lg) {
                    max-width: 100%;
                }
            }

            img {
                position: relative;
                max-width: 22rem;
                z-index: 5;

                @include mq(md) { max-width: 25rem; }

                @include mq(lg) {
                    max-width: 35rem;
                }
            }
        }
    }
}

// Logo/Tech bar below home header
.tech-bar-wrapper {
    padding: 2.25rem 1rem;
    background-color: $purple;
    @include mq(lg) { padding: 3.5rem 1rem; }

    &__container {
        display: flex;
        max-width: 75rem;
        margin: 0 auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        @include mq(lg) {
            flex-direction: row;
            justify-content: space-between;
            text-align: left;
        }
    }

    p {
        max-width: 100%;
        margin: 0 auto 3rem;
        font-size: 1.3rem;
        font-weight: $normal;
        color: $white;

        @include mq(sm) {
            margin: 0 auto 1.65rem;
        }

        @include mq(lg) {
            max-width: 17rem;
            font-size: 1.125rem;
            margin: 0;
        }
    }

    .tech-row {
        display: grid;
        max-width: 45rem;
        grid-template-columns: repeat(2, 10rem);
        gap: 4rem 10rem;
        align-items: center;

        @include mq(sm) {
            display: flex;
            width: 100%;
            grid-template-columns: unset;
            row-gap: unset;
            column-gap: unset;
            flex-direction: row;
            justify-content: space-between;
        }

        &__image-wrap {
            max-width: 9.25rem;
            text-align: center;
            &:nth-of-type(4n+3) { max-width: 7rem; }
            &:nth-of-type(4n+4) { max-width: 6.4rem; }

            // center the items when display is grid
            &:nth-of-type(4n+3),
            &:nth-of-type(4n+4),
            img {
                margin: 0 auto;
                @include mq(sm) { margin: unset; }
            }
        }
    }
}