// header, primary nav, title
.main-site-header {
    max-width: 100%;
    margin: 0 auto 3rem;
    padding: 0.65rem 1rem 0;

    // <nav> container
    .site-nav {
        display: flex;
        justify-content: space-between;
        max-width: 90rem;
        padding: 0 1rem;
        margin: 1rem auto 0;

        &--text-logo { font-size: 1.25rem; }

        // nav list reset
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .main-menu {
            display: flex;
            max-width: 30rem;
            width: 100%;
            justify-content: space-between;

        }
    }
}