// header, primary nav, title
.main-site-header {
    max-width: 100%;
    margin: 0 auto;
}

// homepage intro header
.title-container {
    background-color: $secondary-background;

    &__home-inner-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 77rem;
        margin: 0 auto;
        padding: 2.25rem 1rem;
        @include mq(620px) { padding: 4.25rem 1rem; }
        @include mq(md) { padding: 6.25rem 1rem; }

        &--title {
            max-width: 45rem;
            margin: 0 auto;

            @include mq(920px) {
                flex-shrink: 0;
                margin: unset;
            }

            p { margin-bottom: 2.3rem; }

            .main-button--filled { margin-right: 1.25rem; }
        }

        .split-title {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h1, h2 {
                line-height: 1;
                font-weight: 700;
                margin-bottom: 0;
            }

            h1 {
                font-size: 140px;
                margin-right: 2rem;
                color: $green;
                @include mq(620px) { font-size: 150px; }
            }

            h2 {
                font-size: 35px;
                @include mq(620px) { font-size: 45px; }
            }
        }

        img {
            display: none;
            max-width: 25rem;
            width: 100%;
            margin-left: 1.5rem;
            @include mq(920px) { display: block; }
        }
    }

    &__default {
        text-align: center;
        padding: 4rem 1rem 15rem;
    }
}