.home-header {
    padding: 2rem 1rem 0 1rem;
    max-width: 100%;

    &__inner-wrap {
        display: flex;
        max-width: 75rem;
        margin: 0 auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include mq(sm) {
            flex-direction: row;
            justify-content: space-between;
        }

        .text-content {
            max-width: 34rem;
            margin-right: 1.5rem;

            h1 { font-weight: 600; }
        }

        .image-content {
            position: relative;
            max-width: 38.5rem;

            svg {
                display: block;
                position: absolute;
                max-width: 100%;
                top: 1.25rem;
                height: auto;
                z-index: 1;
            }

            img {
                position: relative;
                max-width: 35rem;
                z-index: 5;
            }
        }
    }
}

// Logo bar below home header
.tech-bar-wrapper {
    padding: 4.25rem 1rem;
    background-color: $purple;

    &__container {
        display: flex;
        max-width: 75rem;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
    }

    p {
        max-width: 17rem;
        font-size: 1.125rem;
        font-weight: 500;
        color: $white;
    }

    .tech-row {
        display: flex;
        max-width: 45rem;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        img {
            max-width: 9.25rem;
            &:nth-of-type(4n+3) { max-width: 7rem; }
            &:nth-of-type(4n+4) { max-width: 6.4rem; }
        }
    }
}