// Media Query Mixin
@mixin mq($size) {
	@if $size == xxs {
		@media (min-width: 414px) { @content; }
	} @else if $size == xs {
		@media (min-width: 480px) { @content; }
	} @else if $size == sm {
		@media (min-width: 768px) { @content; }
	} @else if $size == md {
		@media (min-width: 880px) { @content; }
	} @else if $size == lg {
		@media (min-width: 1024px) { @content; }
	} @else if $size == xl {
		@media (min-width: 1200px) { @content; }
	} @else {
		@media (min-width: $size) { @content; }
	}
}

// Core container padding
@mixin base-padding {
    padding: 1.125rem;
    @include mq(lg) { padding: 1.125rem 2.5rem; }
}

// Fluid text function for dynamic font scaling
@function fluid-text($min-screen-width, $min-font-size, $max-screen-width, $max-font-size) {
	$slope: calc(($max-font-size - $min-font-size) / ($max-screen-width - $min-screen-width));
	$y-intersect: -1 * $min-screen-width * $slope + $min-font-size;
	$return: clamp(#{$min-font-size}, #{$y-intersect} + #{$slope} * 100vw, #{$max-font-size});
	@return $return;
}
