.mobile-nav {
    display: block;
    position: fixed;
    bottom: 0;
    z-index: 15;
    width: 100vw;
    padding: 1.15rem 1rem 0.65rem;
    background-color: $teal;
    @include mq(md) { display: none; }

    &__container {
        display: flex;
        max-width: 100%;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
    }

    .grid-item {
        text-align: center;

        &--link {
            font-size: 0.875rem;
            color: $white;
            padding-top: 0.25rem;
            @include mq(xxs) { font-size: 1rem; }

            span {
                display: block;
                padding-bottom: 0.25rem;
                font-size: 1.1rem;
                color: $white;
            }

            &.active {
                color: #86F1E6;
                span { color: #86F1E6; }
            }
        }
    }
}