.site-nav {
    max-width: 100%;
    margin: 0 auto;
    padding: 1.75rem;
    background-color: $white;
    box-shadow: 0 0 9px -7px $navy;

    &__wrap {
        display: flex;
        align-items: center;
        max-width: 75rem;
        margin: 0 auto;

        .text-title {
            display: inline-block;
            margin: 0 5rem 0 0;
            padding: 0;
            font-family: $secondary-font;
            font-size: 1.25rem;
            font-weight: 700;
            color: $navy;
        }

        // base list reset
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        .nav-menu {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 30rem;

            .sub-wrap {
                &:hover {
                    .sub-menu {
                        visibility: visible;
                        opacity: 1;
                        transition: 0.2s ease-in;
                    }
                }
            }

            .sub-menu {
                position: absolute;
                visibility: hidden;
                opacity: 0;
                top: 2rem;
                padding: 1rem 1.25rem;
                transition: 0.2s 0.15s ease-out;
                background-color: $navy;

                li {
                    margin-top: 0.65rem;
                    margin-bottom: 0.65rem;
                    &:first-of-type { margin-top: 0; }
                    &:last-of-type { margin-bottom: 0; }
                }

                li a {
                    display: inline-block;
                    width: 100%;
                    margin: 0;
                    padding: 0.2rem;
                    color: $white;
                }

                span {
                    display: inline-block;
                    margin-right: 0.75rem;
                }
            }
        } // .nav-menu
    } // &__wrap
}