// nav container
.site-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 77rem;
    padding: 1rem;
    margin: 0 auto;

    &--text-logo {
        font-size: 1.5rem;
        color: $white;
    }

    // list reset
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    // <ul> mobile
    &--main-menu {
        position: absolute;
        top: 0;
        right: -100%;
        height: 100vh;
        overflow: hidden;
        z-index: 99;
        padding: 17rem 1.75rem 0 4rem !important;
        transition: 0.6s ease-out;

        li { margin-bottom: 1.5rem; }

        li a {
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 1.85rem;
            font-weight: 700;
            font-family: $secondary-font;
            color: $white;
            padding: 0.25rem;
        }

        // green triangles
        .menu-accent {
            position: absolute;
            width: 30rem;
            height: 18rem;
            transform: rotateZ(-45deg);
            background-color: $green;

            &--top,
            &--bottom {
                @extend .menu-accent;
            }

            // top-left corner
            &--top {
                top: -5.5rem;
                left: -14rem;
            }

            // bottom-right corner
            &--bottom {
                right: -14rem;
                bottom: -5.5rem;
            }
        }

        &.primary-menu-active {
            right: 0;
            width: 20rem;
            background-color: $secondary-background;
            transition: 0.3s ease-out;
        }
    }

    .main-button { display: none; }

    // <ul> desktop
    @include mq(980px) {
        &--main-menu {
            position: relative;
            right: unset;
            display: flex;
            max-width: 32rem;
            width: 100%;
            height: unset;
            padding: 0 !important;
            justify-content: space-between;

            li { margin-bottom: 0; }

            li a {
                position: relative;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-size: 0.875rem;
                font-weight: 700;
                font-family: $secondary-font;
                padding: 0.25rem;

                &:after {
                    content: '';
                    position: absolute;
                    top: 1.35rem;
                    left: 50%;
                    height: 2px;
                    width: 0;
                    background: transparent;
                    transition: all 0.2s ease-out;
                }

                &:hover {
                    &:after {
                        transition: all 0.2s ease-out;
                        width: 100%;
                        left: 0;
                        background: $green;
                    }
                }
            }

            .menu-accent { display: none; }
        }

        .main-button { display: inline; }
    }
}