.notice-banner {
    position: relative;
    border: 1px solid $alt-text-color;
    border-radius: $radius-small;
    padding: 0.35rem;

    &__text {
        max-width: 85%;
        margin: 0 auto;
        text-align: center;
        font-weight: 600;

        a {
            font-weight: 600;
            text-underline-offset: 5px;
            &:hover { text-decoration: underline 2px; }
        }
    }

    #close-notice {
        position: absolute;
        top: 50%;
        right: 0.5rem;
        transform: translateY(-52%);
        &:hover { cursor: pointer; }

        @include mq(md) {
            
        }

        // unicode times symbol - &times;
        .close-icon {
            font-size: 1.5rem;
            line-height: 0.75;
            font-family: $secondary-font;
            font-weight: 500;
            color: $alt-text-color;
        }
    }
}