// core font setup
a, p, span, address, table, td, th, tr,
small, time, ol, ul, li, button {
	font-family: $primary-font;
	font-size: 1rem;
	font-weight: 400;
	color: $dark-grey;
}

small, time { font-size: 0.875rem; }

a {
	text-decoration: none;
	transition: 0.2s ease-in;
	&:hover { transition: 0.2s ease-out; }
}

.small-title {
	font-size: 1.125rem;
	text-transform: uppercase;
	letter-spacing: 4px;
	margin-bottom: 0.5rem;
	color: $green;
}

p {
	margin-top: 1.25rem;
	margin-bottom: 1.25rem;
}

// default browser button style reset
button {
	appearance: none;
	background: unset;
	border: unset;
	transition: 0.2s ease-in;

	&:hover {
		cursor: pointer;
		transition: 0.2s ease-out;
	}
}

h1, h2, h3,
h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 1.25rem;
	font-family: $secondary-font;
	font-weight: 700;
	line-height: 1.2;
	color: $white;
}

h1 { font-size: fluid-text(480px, 35px, 1200px, 65px); }
h2 { font-size: fluid-text(480px, 28px, 1200px, 45px); }
h3 { font-size: fluid-text(480px, 20px, 1200px, 35px); }
h4 { font-size: fluid-text(480px, 18px, 1200px, 25px); }
h5 { font-size: 16px; }
h6 { font-size: 14px; }