// Theme colors
$white: #FFF;
$black: #000;
$blue: #032456;
$smoke: #1D2125;

// Fonts
$primary: 'PT Sans', sans-serif;
$secondary: 'Gentium Book Plus', serif;

// Weights
$regular: 400;
$semibold: 500;
$bold: 700;
$xbold: 900;

// Consistency utilities
$radius: 6px;
$circle: 50%;
$transition: 0.15s ease-in-out;
$global-width: 87.5rem; // 1400px
