// mobile menu toggle and animation
#menu-toggle {
    display: block;
    &:hover { cursor: pointer; }
    @include mq(md) { display: none; }

    .x-bar {
        display: block;
        height: 3px;
        margin-bottom: 6px;
        background-color: $navy;
        transition: 0.2s ease-out;
        border-radius: 2px;
        margin-right: 0;
        margin-left: auto;
        &:nth-child(3n) { width: 1.8rem; }
        &.x-bar-active { width: 1.6rem; }
    }

    .x-bar-active {
        position: relative;
        transition: 0.2s ease-out;
        margin-bottom: 0;
        height: 3px;
        z-index: 999;

        &:nth-child(3n+1) {
            top: 0;
            transform: rotate(45deg);
        }

        &:nth-child(3n+2) {
            opacity: 0;
        }

        &:nth-child(3n+3) {
            bottom: 6px;
            transform: rotate(-45deg);
            margin-bottom: 0;
        }
    }
}