.arrow-button {
    display: inline-block;
    margin-top: 1.5rem;
    padding: 0.5rem 0.85rem;
    font-size: 1.125rem;
    font-weight: $bold;
    border: 1px solid $white;
    color: $white;

    @include mq(md) {
        margin-top: 3rem;
        padding: 0.65rem 1.25rem;
    }

    &:hover {
        background-color: $white;
        color: $smoke;
    }
}
