.cta-button {
    position: relative;
    right: 0;
    left: auto;
    display: inline-block;
    padding: 0.6rem 1.2rem;

    &--teal,
    &--purple {
        @extend .cta-button;
        border: 2px solid;

        &:hover {
            background-color: transparent;
        }
    }

    &--teal {
        background-color: $teal;
        color: $white;
        border-color: $teal;

        &:hover { color: $teal; }
    }

    &--purple {
        background-color: $purple;
        color: $white;
        border-color: $purple;

        &:hover { color: $purple; }
    }
}

.nav-button {
    display: none;

    @include mq(xs) {
        display: inline-block;
        padding: 0.5rem 1.2rem;
    }
}