.site-footer {
    position: fixed;
    z-index: 1;
    bottom: 0;
    width: 100%;
    margin: 0 auto 4.625rem; // 74px - height of mobile nav bar
    padding: 2rem 1rem 1rem;
    background-color: $navy;

    @include mq(md) { margin: 0 auto; }

    a, p { color: $white; }

    &__top-container {
        display: flex;
        justify-content: space-between;
        max-width: 75rem;
        margin: 0 auto;
        padding-bottom: 1.75rem;
        border-bottom: 1px solid $white;
    }

    &__bottom-container {
        display: flex;
        max-width: 75rem;
        margin: 0.75rem auto 0;
        justify-content: space-between;
        align-items: center;

        a {
            font-weight: $light;
            padding: 0.25rem;

            span {
                display: inline-block;
                padding-right: 0.25rem;
                transition: 0.2s ease-in;
            }

            &:hover {
                color: $teal;

                span {
                    color: $teal;
                    transition: 0.2s ease-out;
                }
            }
        }
    }
}

// inside top-container
.text-container {
    max-width: 23rem;

    .time, time { font-size: 0.875rem; }

    time {
        color: $white;
        letter-spacing: 1px;
    }
}

// inside top-container
.menu-container {
    max-width: 35rem;
    width: 100%;

    .footer-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        max-width: 35rem;
    }

    .footer-menu__menu {
        display: flex;
        flex-direction: column;
        justify-content: left;

        .menu-heading {
            position: relative;
            font-weight: $medium;
            font-size: 1.1rem;

            &:after {
                position: absolute;
                content: '';
                left: 0;
                bottom: -0.25rem;
                background-color: $white;
                width: 1.15rem;
                height: 1px;
            }
        }

        .footer-menu-item {
            font-weight: $light;
            margin-bottom: 0.25rem;

            &:hover {
                color: $teal;
            }
        }
    }
}