// step bar tracker and counter
.step-bar {
    display: flex;
    width: 100%;
    margin: 0 auto 3.25rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;

    &__step {
        width: 2.25rem;
        height: 2.25rem;
        text-align: center;
        border-radius: 50%;
        background-color: $white;
        border: 2px solid $purple;
        flex-shrink: 0;

        @include mq(sm) {
            width: 3rem;
            height: 3rem;
        }

        &.active-step {
            background-color: $purple;

            .step-number { color: $white; }
        }

        .step-number {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            margin: 0;
            color: $purple;
            font-size: 1rem;
            font-weight: $medium;

            @include mq(sm) {
                font-size: 1.2rem;
            }
        }
    }

    .divider {
        max-width: 100%;
        width: 6rem;
        min-width: 7px;
        height: 5px;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        flex-shrink: 1;
        border-radius: $radius-small;
        background-color: $purple;

        @include mq(sm) {
            height: 7px;
        }
    }

    .complete {
        background-color: $teal;
        border-color: $teal;

        .step-number { color: $white; }
    }
}

.form-header {
    max-width: 35rem;
    margin: 0 auto 2.5rem;
    text-align: center;
}

#multi-step-form {
    position: relative;
    max-width: 43.75rem;
    margin: 0 auto;
    padding: 2rem 2.875rem;
    border: 1px solid $grey;
    box-shadow: 0 0 6px -4px;
    border-radius: $radius-large;

    // inner-transition headers
    h4 {
        font-weight: $medium;
        margin-bottom: 2rem;
    }

    .button-container {
        position: relative;
        bottom: 0;
        max-width: 100%;
        margin: 0 auto 2.875rem;
        padding-top: 1rem;
        border-top: 1px solid rgba($purple, 0.2);
    }
}

// first div inside the transition elements
.form-wrapper {
    min-height: 23.75rem;

    label, input, textarea { color: $navy; }

    .input-wrap {
        display: flex;
        max-width: 100%;
        margin: 0 auto 4rem;
        justify-content: space-between;
        align-items: flex-start;

        &__input {
            font-size: 1.2rem;
            font-weight: $medium;

            // all inputs
            input:not(.checkbox-input input) {
                max-width: 16.25rem;
                width: 100%;
                margin-top: 0.5rem;
                padding: 0.85rem 1.25rem;
                border: 2px solid $navy;
                border-radius: $radius-medium;
            }
        }

        .checkbox-input {
            max-width: 16.25rem;
            width: 100%;
            margin-top: 0.5rem;
            padding: 0.85rem 1.25rem;
            border: 2px solid $navy;
            border-radius: $radius-medium;
            transition: 0.2s ease-out;

            &:hover {
                background-color: $navy;
                color: $white;
                cursor: pointer;
            }

            input {
                position: absolute;
                appearance: none;
            }
        }
    }

    .active {
        background-color: $navy !important;
        color: $white !important;
    }

    .error {
        display: block;
        border-color: $magenta !important;
        color: $magenta !important;
    }
}
/* End form */

// Vue will look for these to apply animations to the <transition> elements
.slide-fade-enter-active {
    transition: all 0.5s ease-out;
}

.slide-fade-leave-active {
    transition: all 0s cubic-bezier(1, 0.5, 0.3, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
    transform: translateX(75px);
    opacity: 0;
}