.site-header {
    max-width: 77rem;
    margin: 0 auto;
    padding: 2.25rem 1rem 0;
    background-color: $white;

    &__title {
        max-width: 35rem;
        margin: 0 auto;
        text-align: center;
    }

    p {
        margin-bottom: 0;
    }
}