.info-section {
    max-width: 100%;
    margin: 0 auto;
    padding: 1.75rem 1rem 3.75rem;

    @include mq(md) {
        padding: 3.75rem 1rem 3.75rem;
    }

    &__container {
        display: flex;
        max-width: 75rem;
        margin: 0 auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include mq(md) {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
        }

        img {
            max-width: 25rem;
            border-radius: $radius-large;
        }

        .aside-image {
            display: none;
            @include mq(md) { display: block; }
        }

        .aside-content {
            max-width: 38rem;
        }
    }
}

// inside aside-content
.stat-cards {
    display: flex;
    max-width: 100%;
    margin: 3.75rem auto 0;
    flex-wrap: wrap;

    // responsive adjustments for spacing and alignment
    justify-content: space-around;
    @include mq(xs) { justify-content: space-between; }
    @include mq(md) { justify-content: space-around; }
    @include mq(lg) { justify-content: space-between; }

    &__card {
        max-width: 9rem;
        width: 100%;
        padding: 1rem;
        margin-bottom: 2rem;
        box-shadow: $shadow;
        border-radius: $radius-medium;

        @include mq(xs) {
            max-width: 10rem;
        }

        @include mq(lg) {
            max-width: 11rem;
            padding: 1.25rem 1rem;
        }

        &:hover { box-shadow: 0 3px 9px -7px $teal; }

        h3 { font-weight: $medium; }
    }
}

// inside aside-content
.grid-cards {
    display: grid;
    max-width: 100%;
    margin: 3.75rem auto 0;
    row-gap: 4.25rem;

    @include mq(sm) {
        grid-template-columns: repeat(auto-fit, 17.5rem);
        column-gap: 2.75rem;
    }

    &__card {
        position: relative;
        top: 0;
        margin: 0 auto;

        &:hover {
            top: -10px;

            &:after {
                content: '';
                position: absolute;
                top: 0;
                z-index: 9;
                width: 100%;
                height: 100%;
                transition: 0.2s ease-in;
                background-color: rgba($primary-background, 0.85);
            }

            &:before {
                content: '\f08e';
                position: absolute;
                z-index: 10;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-family: FontAwesome;
                font-size: 2.25rem;
                color: $teal;
            }
        }

        img { max-width: 17.5rem; }
    }
}