// container for animated text cube Kinetic Typography
.title-container {
    position: relative;
    background-color: $dark-blue;
    width: 100vw;
    height: 89.75vh;
}

[data-ktype] {
    margin-top: 0;
    margin-bottom: 0;
    color: $white;
}