// base setup for all tags
span[class^='tag-'] {
    display: inline-block;
    padding: 0.25rem 1.25rem;
    margin: 0 1rem 0 0;
    border-radius: 5px;
    border-top-right-radius: 18px;
    border-bottom-left-radius: 18px;
    font-size: 0.9375rem;
    font-weight: 500;
    text-transform: uppercase;
    color: $white;
}

// contextual / feedback tags
.tag-success { background-color: $success; }
.tag-warning { background-color: $warning; }
.tag-danger { background-color: $danger; }