{# Project Type #}

<div class="input-wrap">
    <label
        class="input-wrap__input checkbox-input"
        @click="e => e.target.classList.toggle('active')"
        >
        Full Website<br/>
        <input
            v-model="projectType"
            type="checkbox"
            name="checkbox"
            value="Full Website"
        />
    </label>

    <label
        class="input-wrap__input checkbox-input"
        @click="e => e.target.classList.toggle('active')"
        >
        Theme Development<br/>
        <input
            v-model="projectType"
            type="checkbox"
            name="checkbox"
            value="Theme Development"
        />
    </label>
</div>

<div class="input-wrap">
    <label
        class="input-wrap__input checkbox-input"
        @click="e => e.target.classList.toggle('active')"
        >
        Landing Page<br/>
        <input
            v-model="projectType"
            type="checkbox"
            name="checkbox"
            value="Landing Page"
        />
    </label>

    <label
        class="input-wrap__input checkbox-input"
        @click="e => e.target.classList.toggle('active')"
        >
        Dashboard Application<br/>
        <input
            v-model="projectType"
            type="checkbox"
            name="checkbox"
            value="Dashboard Application"
        />
    </label>
</div>