{# Review Information #}
<p>Full Name: ${ form.fullName }</p>
<p>Email: ${ form.email }</p>
<p>Company Name: ${ form.companyName }</p>
<p>Company Website: ${ form.companyWebsite }</p>
<p>Project Type: ${ form.projectType }</p>
<p>Project Budget: ${ form.projectBudget }</p>
<p>Additional Information: ${ form.additionalInformation }</p>
<p>${  }</p>
<p>${  }</p>
<p>${  }</p>
<p>${  }</p>
<p>${  }</p>