.error-page-wrapper {
    text-align: center;
    margin: 1rem auto 5rem;
    
    h1 { margin-bottom: 5rem; }

    img {
        max-width: 38rem;
        width: 100%;
        margin: 0 auto 5rem;
    }
}