.about-content-block {
    position: relative;
    margin: -14rem auto 0;
    z-index: 50;
    text-align: center;

    #sphere-container {
        padding-bottom: 5rem;
        margin: 0 auto;
        max-width: 45rem;

        .lang-icon {
            max-width: 2.85rem;
            @include mq(sm) { max-width: 4.75rem; }
        }
    }
}

// main portfolio showcase section
.portfolio-container {
    padding: 5rem 0 0;
    background-color: $secondary-background;

    &__inner-wrap {
        max-width: 77rem;
        width: 100%;
        margin: 0 auto;
        padding: 0 1rem;

        .intro {
            max-width: 40rem;
            margin: 0 auto 2.5rem;
            font-style: italic;
            font-size: 0.875rem;
        }
    }

    .odd { background: $secondary-background; }
    .even { background: $primary-background; }

    .row-wrap {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        max-width: 77rem;
        margin: 0 auto;
        text-align: left;

        .project-image { max-width: 45rem; }

        article { width: 100%; }

        .tech {
            font-size: 1.125rem;
            font-weight: 600;
            margin-bottom: 0.5rem;
        }

        ul {
            margin-top: 0;
            padding-left: 1rem;
        }

        a {
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }

    .wrap-left,
    .wrap-right {
        padding: 5rem 0;
    }

    // image left / text right
    .wrap-left {
        article { max-width: 25rem; }

        .project-image {
            margin-right: 0;
            @include mq(sm) { margin-right: 3rem; }
        }
    }

    // image right / text left
    .wrap-right {
        article { max-width: 30rem; }

        .project-image {
            margin-left: 0;
            @include mq(sm) { margin-left: 3rem; }
        }
    }
}