<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="content-language" content="en-us" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>{{ post.title }} | Shane Schroll</title>

		{{ fn('wp_head') }}

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Poppins:wght@600;700;900&display=swap" />
	</head>

	<body data-template="base.twig" class="{{ body_class }}">
		{% include 'components/navigation.twig' %}

		{% if not is_front_page %}
			{% include 'components/default-header.twig' %}
		{% else %}
			{% include 'components/home-header.twig' %}
		{% endif %}

		<section class="main-post-wrapper" role="main" aria-label="Main page content">
			{% block content %}{% endblock %}
		</section>

        <div class="footer-drawer"></div>
		{% include 'components/footer.twig' %}
		{% include 'components/mobile-nav.twig' %}

		{{ fn('wp_footer') }}
	</body>
</html>