<form id="contact-form" class="contact-section__form" method="POST" enctype="multipart/form-data" action="{{ post.form_action }}">
    <label for="name" class="hidden">Enter your name</label>
    <input id="name" name="name" type="text" placeholder="Name*" required>

    <label for="email" class="hidden">Enter your email</label>
    <input id="email" name="email" type="text" placeholder="Email*" required>

    <label for="company" class="hidden">Enter your company name (optional)</label>
    <input id="company" name="company" type="text" placeholder="Company Name">

    <label for="contact-reason" class="hidden">Choose a contact reason</label>

    <div class="select-wrap">
        <select id="contact-reason" name="contact-reason" required>
            <option class="placeholder" value="" disabled selected>Choose a contact reason*</option>
            <option>Just passing through</option>
            <option>I need a custom search feature (WordPress)</option>
            <option>I need a custom theme (WordPress)</option>
        </select>
    </div>

    <label for="message" class="hidden">Enter your message</label>
    <textarea id="message" name="message" rows="8" placeholder="Message*" required></textarea>

    <input type="hidden" name="_phone" style="display:none !important;">

    <button class="main-button main-button--outlined" type="submit">
        Send It <span class="fa-solid fa-paper-plane icon-right"></span>
    </button>
</form>