<header class="main-site-header">
    {% if options.enable_notice_banner %}
        <div class="notice-banner" role="alert" aria-label="Announcement">
            <p class="notice-banner__text">{{ options.notice_banner_text }}</p>
            <button id="close-notice" aria-label="Close notice banner" title="Close">
                <span class="close-icon">&times;</span>
            </button>
        </div>
    {% endif %}

    <nav class="site-nav">
        <a class="site-nav--text-logo" {% if not is_front_page %}href="/"{% endif %}><strong>Shane Schroll</strong></a>

        <ul class="site-nav--main-menu">
            <li><a href="/about">About</a></li>
            <li><a href="/portfolio">Portfolio</a></li>
            <li><a href="/tech-stack">Tech Stack</a></li>
        </ul>

        <a class="main-button main-button--outlined" href="/contact">Get In Touch <span class="fa-solid fa-mug-hot icon-right"></span></a>
    </nav>

    <section id="full-width" class="title-container">
        <div class="title-container__inner-wrap">
            <div class="title-container__inner-wrap--"></div>
            <img src="" alt="" />
        </div>
    </section>
</header>