<header class="main-site-header">
    {% if options.enable_notice_banner %}
        <div class="notice-banner" role="alert" aria-label="Announcement" data-aos="fade-down">
            <p class="notice-banner__text">{{ options.notice_banner_text }}</p>
            <button id="close-notice" aria-label="Close notice banner" title="Close">
                <span class="close-icon">&times;</span>
            </button>
        </div>
    {% endif %}

    <nav class="site-nav" data-aos="fade-down">
        <a class="site-nav--text-logo" {% if not is_front_page %}href="/"{% endif %}>ShaneSchroll</a>

        <ul class="main-menu">
            <li><a href="/about">About</a></li>
            <li><a href="/past-work">Past Work</a></li>
            <li><a href="/tech-stack">Tech Stack</a></li>
            <li><a href="/contact">Get In Touch</a></li>
        </ul>
    </nav>

    <section class="title-container" data-aos="fade-down"></section>
</header>