{% extends 'base.twig' %}

{% block content %}
{# <h1>Skills & Abilities</h1>
<section id="full-width" class="row-wrapper">
	<div class="row-wrapper__row">
		{% for skill in post.get_field('skills') %}
			<a class="row-wrapper__row--item" href="/">
				<p class="row-icon"><span class="fa-solid {{ skill.icon }}"></span></p>
				<p>{{ skill.name }}</p>
				<p>{{ skill.snippet }}</p>
			</a>
		{% endfor %}
	</div>
</section> #}

{# <h1>My Portfolio</h1>
<section class="row-wrapper"></section>

<h1>Tech Stack</h1>
<section class="row-wrapper"></section> #}
{% endblock %}