<nav class="site-nav" aria-label="Main site navigation">
    <div class="site-nav__wrap">
        {% if not is_front_page %}
            <a class="text-title" href="/">ShaneSchroll</a>
        {% else %}
            <p class="text-title">ShaneSchroll</p>
        {% endif %}

        <ul class="nav-menu">
            <li><a href="/about">About</a></li>
            <li><a href="/portfolio">Portfolio</a></li>

            <li class="sub-wrap">
                <a href="javascript:void(0)">Mockups</a>

                <ul class="sub-menu">
                    <li><a href="/mockups">
                        <span class="fa-solid fa-box-archive" aria-hidden="true"></span>Mockup Archive
                    </a></li>

                    {% for mockup in mockups %}
                        <li>
                            <a href="{{ mockup.link }}">
                                <span class="fa-solid {{ mockup.icon_name }}" aria-hidden="true"></span>{{ mockup.title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </li>

            <li><a href="/contact">Get in Touch</a></li>
        </ul>

        <div id="menu-toggle">
            <span class="x-bar"></span>
            <span class="x-bar"></span>
            <span class="x-bar"></span>
        </div>
    </div>
</nav>