<nav class="site-nav" aria-label="Main site navigation">
    <div class="site-nav__wrap">
        {% if not is_front_page %}
            <a class="text-title" href="/">ShaneSchroll</a>
        {% else %}
            <p class="text-title">ShaneSchroll</p>
        {% endif %}

        <ul class="nav-menu">
            <li><a class="top-level-item" href="/about">About</a></li>
            <li><a class="top-level-item" href="/portfolio">Portfolio</a></li>

            <li class="sub-menu-wrap">
                <a class="top-level-item" href="/mockups">Mockups</a>

                <ul class="sub-menu">
                    {% for mockup in mockups %}
                        <li>
                            <a class="sub-level-item" href="{{ mockup.link }}">
                                <span class="fa-solid {{ mockup.icon_name }}" aria-hidden="true"></span>{{ mockup.title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </li>

            <li><a class="top-level-item" href="/contact">Get in Touch</a></li>
        </ul>

        <a class="cta-button--teal nav-button" href="/community">Community</a>

        <div id="menu-toggle">
            <span class="x-bar"></span>
            <span class="x-bar"></span>
            <span class="x-bar"></span>
        </div>
    </div>
</nav>