<nav class="site-nav">
    {% if not is_front_page %}
        <a class="text-title" href="/">ShaneSchroll</a>
    {% else %}
        <p class="text-title">ShaneSchroll</p>
    {% endif %}

    <div id="menu-toggle">
        <span class="x-bar"></span>
        <span class="x-bar"></span>
        <span class="x-bar"></span>
    </div>
</nav>