{% extends 'base.twig' %}

{# {% block head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/hmac-sha1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/enc-base64.min.js"></script>
{% endblock %} #}

{% block content %}
<section id="mockup-template-container" class="content-block">
    {% if 'animations' in get_url %}
        {% include 'mockups/animations.twig' %}
    {% elseif 'forms' in get_url %}
        {% include 'mockups/forms.twig' %}
    {% elseif 'docs' in get_url %}
        {% include 'mockups/docs.twig' %}
    {% elseif 'tables' in get_url %}
        {% include 'mockups/tables.twig' %}
    {% endif %}
</section>
{% endblock %}