<footer class="site-footer">
    <section class="site-footer__top-container">
        <div class="">
            {% if not is_front_page %}
                <a class="text-logo--footer" href="/">ShaneSchroll</a>
            {% else %}
                <p class="text-logo--footer">ShaneSchroll</p>
            {% endif %}
        </div>
    </section>
    <div class="site-footer__bottom-container">
        <p class="no-mt no-mb">&copy; {{ date_year }} Shane Schroll</p>
        <div class="external-links">
            <a href="https://github.com/shaneschroll" target="_blank" rel="noopener">
                <span class="fa-brands fa-github"></span>
                GitHub
            </a>
            <a href="/community/#theme">
                <span class="fa-solid fa-code"></span>
                Dev Theme
            </a>
        </div>
    </div>
</footer>