<header class="site-header">
    <div class="site-header__title">
        {% if post.large_header_text %}
            <h1>{{ post.large_header_text }}</h1>
        {% else %}
            <h1>{{ post.title }}</h1>
        {% endif %}

        {% if post.paragraph_text %}
            <p>{{ post.paragraph_text }}</p>
        {% endif %}
    </div>
</header>