<nav class="mobile-nav">
    <div class="mobile-nav__container">

        <div class="grid-item">
            <a class="grid-item--link" href="/about">
                <span class="fa-solid fa-mug-hot"></span>
                About
            </a>
        </div>

        <div class="grid-item">
            <a class="grid-item--link" href="/portfolio">
                <span class="fa-solid fa-folder-tree"></span>
                Portfolio
            </a>
        </div>

        <div class="grid-item">
            <a class="grid-item--link" href="/mockups">
                <span class="fa-solid fa-code"></span>
                Mockups
            </a>
        </div>

        <div class="grid-item">
            <a class="grid-item--link" href="/contact">
                <span class="fa-solid fa-mobile-screen"></span>
                Contact
            </a>
        </div>

    </div>
</nav>