<nav class="site-nav" aria-label="Main site navigation">
    <div class="site-nav__wrap">
        {% if not is_front_page %}
            <a class="text-logo" href="/">{% include '/assets/media/logo.svg' %} ShaneSchroll</a>
        {% else %}
            <p class="text-logo">{% include '/assets/media/logo.svg' %} ShaneSchroll</p>
        {% endif %}

        <ul class="nav-menu">
            <li><a class="top-level-item" href="/about">About</a></li>
            <li><a class="top-level-item" href="/portfolio">Portfolio</a></li>

            <li class="sub-menu-wrap">
                <a class="top-level-item" href="/mockups">
                    Mockups <span class="fa-solid fa-chevron-down"></span>
                </a>

                <ul class="sub-menu">
                    {# grab mockup post type pages #}
                    {% for mockup in mockups %}
                        <li>
                            <a class="sub-level-item" href="{{ mockup.link }}">
                                <span class="fa-solid {{ mockup.navigation_icon }}" aria-hidden="true"></span>{{ mockup.title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </li>

            <li><a class="top-level-item" href="/contact">Get in Touch</a></li>
        </ul>

        <a class="cta-button--cta-teal nav-button" href="/community">Community</a>
    </div>
</nav>