<div class="step-bar">
    <div
        class="step-bar__step"
        :class="{
            'active-step': stepNumber === 1,
            'complete': isComplete1
        }"
    >
        <p class="step-number">1</p>
    </div>

    <div
        class="divider"
        :class="{ 'complete': isComplete1 }"
    ></div>

    <div
        class="step-bar__step"
        :class="{
            'active-step': stepNumber === 2,
            'complete': isComplete2
        }"
    >
        <p class="step-number">2</p>
    </div>

    <div
        class="divider"
        :class="{ 'complete': isComplete2 }"
    ></div>

    <div
        class="step-bar__step"
        :class="{
            'active-step': stepNumber === 3,
            'complete': isComplete3
        }"
    >
        <p class="step-number">3</p>
    </div>

    <div
        class="divider"
        :class="{ 'complete': isComplete3 }"    
    ></div>

    <div
        class="step-bar__step"
        :class="{
            'active-step': stepNumber === 4,
            'complete': stepNumber === 5
        }"
    >
        <p class="step-number">4</p>
    </div>
</div>