<div class="doc-section quick-links">
    <h4 class="no-mt">Downloads</h4>
    <a download class="pill-button--pill-purple docs-button" href="{{ post.theme_download }}">Theme</a>
</div>

<div class="doc-section">
    <h4>Quick Start</h4>
    <p>
        Make sure you have <a href="https://getcomposer.org/download/" target="_blank" rel="noreferrer">Composer</a> installed, PHP 8.2+, and
        take a look at the <a href="https://github.com/timber/timber/releases" target="_blank" rel="noreferrer">Timber V2 Release Notes</a>.
    </p>
    <p>
        Download the theme zip file.
        There is a composer.lock file included for easy installation.
    </p>
    <p>Then, open your terminal at the theme root and run:
        <code class="language-bash single-line-token">
            composer install
        </code>
    </p>
    <p>
        Once installed, you can activate the theme in the WP Admin Themes section.<br/>
        <em>Keep the latest default theme available in case of issues.</em>
    </p>
</div>

<div class="doc-section">
    <h4>Use Cases</h4>
    <p>The purpose of this theme is to provide a "development ready" starting point; it is NOT a full theme. This theme saves about ~3-5 hours of initial setup,  file-linking, tool setup and configuration.</p>
    <p>All of this ensures you can start writing code instantly without any complicated build steps. Install the theme and build something cool!</p>
</div>

{# <pre class="language-css"><code class="language-css">body { color: red; }</code></pre> #}