<div class="doc-section quick-links">
    <h4 class="no-mt">Downloads</h4>
    <p>Version - 0.0.1</p>
    <a download class="pill-button--pill-purple docs-button" href="{{ post.ui_library_download }}">UI Library</a>
</div>